.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        sample
      %ul.side-header__box__menu
        %li.side-header__box__menu-new-group
          =link_to "#" do
            =fa_icon 'edit'
        %li.side-header__box__menu-edit-user
          =link_to "#" do
            =fa_icon 'cog'
  .groups
    =link_to "#" do
      .group
        %p.group__group-name
          test-group
        %p.group__latest-message
          hello!
    =link_to "#" do
      .group
        %p.group__group-name
          test-group
        %p.group__latest-message
          hello!

.chat-main
  .main-header
    .main-header__lest-box
      %h2.main-header__left-box__current-group
        test-group
      %ul.main-header__left-box__member-list
        Member
        %li.main-header__left-box__member-list__member
          sample
    =link_to "#" do
      .main-header__edit-btn
        Edit
  .message
  .form